{% extends "/layouts/default.twig" %}
{% block title %}Accueil{% endblock %}
{% block content %}
    <div onclick="closeModal()" id="backgroundModal" class="hidden fixed inset-0 bg-night-1 opacity-85 z-40"></div>

    <div class="overflow-y-auto scrollbar-thumb-night-base scrollbar-track-night-base h-full w-full">
        <div class="flex flex-col sm:flex-row justify-between mb-10">
            <h1 class="text-4xl ml-5 mt-5 font-serif">Jeux</h1>
            <div class="relative justify-self-end  mt-5 ml-5 sm:mr-5">
                <!-- Search Button/Bar Container -->
                <input
                        id="searchBar"
                        type="search"
                        placeholder="Rechercher..."
                        class="w-10 h-10 pl-10 pr-0.5 transition-all duration-300 ease-in-out bg-lavender-blush-base dark:bg-night-base border border-lavender-blush dark:border-night rounded-full shadow-sm hover:w-64 focus:w-64 hover:pl-12 focus:pl-12 focus:outline-none"
                />
                <!-- Search Icon -->
                <span class="absolute top-2.5 left-3 text-gray-400 pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                </span>
            </div>
        </div>


        <div class="container mx-auto grid auto-cols-auto gap-y-10 place-items-center sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mb-20 transition-all duration-500 ease-in-out">
            {% for game in games %}
                <div id="modalGame{{ game.id }}"
                     class="modal hidden w-full sm:w-1/2 bg-lavender-blush-2 dark:bg-night-2 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transition-all transform duration-300 p-5 rounded-2xl z-50">
                    <div class="modal-content m-2">
                        <div class="flex items-center justify-between">
                            <div class="pb-2">
                                <p class="text-2xl font-bold">{{ game.name }}</p>
                            </div>
                            <div class="end-1">
                                <button onclick="closeModal()">
                                    <svg class="hover:scale-125 hover:text-red-500 transition-all ease-in-out"
                                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                                            <path stroke-linecap="round" d="M6 18l12-12M6 6l12 12"/>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div class="pt-5 text-justify flex gap-5 w-full">
                            <img src="/assets{{ game.pathImg }}" alt="not" class="w-1/2">
                            <div class="w-1/2 flex flex-col gap-5">
                                <p><span class="font-semibold">Description : </span>{{ game.description }}</p>
                                <div class="flex flex-col gap-2 items-center sm:flex-row">
                                    <p class="font-semibold">Tags : </p>
                                    <div class="flex gap-2 flex-wrap">
                                        {% for tag in game.tags %}
                                            <p class="border-2 rounded-full border-blue-violet-base py-0.5 px-2 text-center">{{ tag }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="h-12 text-white justify-around flex mt-8">
                            <button class="w-40 h-10 bg-blue-violet-base hover:bg-night-1 dark:hover:bg-lavender-blush-base dark:hover:text-night-1 text-lavender-blush-base rounded-lg flex items-center justify-center relative transition-all duration-300 group hover:scale-110">
                                <span class="absolute opacity-100 scale-100 group-hover:opacity-0 group-hover:scale-75 transition-all duration-200 ease-out">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em"
                                         viewBox="0 0 20 20">
                                    <path fill="currentColor"
                                          d="m17.545 15.467l-3.779-3.779a6.15 6.15 0 0 0 .898-3.21c0-3.417-2.961-6.377-6.378-6.377A6.185 6.185 0 0 0 2.1 8.287c0 3.416 2.961 6.377 6.377 6.377a6.15 6.15 0 0 0 3.115-.844l3.799 3.801a.953.953 0 0 0 1.346 0l.943-.943c.371-.371.236-.84-.135-1.211M4.004 8.287a4.28 4.28 0 0 1 4.282-4.283c-2.366 0 4.474 2.107 4.474 4.474a4.284 4.284 0 0 1-4.283 4.283c-2.366-.001-4.473-2.109-4.473-4.474"/>
                                    </svg>
                                </span>
                                <span class="absolute opacity-0 scale-75 group-hover:opacity-100 group-hover:scale-100 transition-all duration-200 ease-out">Trouver</span>
                            </button>
                            <button class="w-40 h-10 bg-blue-violet-base hover:bg-night-1 dark:hover:bg-lavender-blush-base dark:hover:text-night-1 text-lavender-blush-base rounded-lg flex items-center justify-center relative transition-all duration-300 group hover:scale-110">
                                <span class="absolute opacity-100 scale-100 group-hover:opacity-0 group-hover:scale-75 transition-all duration-300 ease-out">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em"
                                         viewBox="0 0 24 24">
                                    <g fill="none">
                                    <path fill="currentColor"
                                          d="M10.5 20a1.5 1.5 0 0 0 3 0v-6.5H20a1.5 1.5 0 0 0 0-3h-6.5V4a1.5 1.5 0 0 0-3 0v6.5H4a1.5 1.5 0 0 0 0 3h6.5z"/>
                                    </g>
                                    </svg>
                                </span>
                                <span class="absolute opacity-0 scale-75 group-hover:opacity-100 group-hover:scale-100 transition-all duration-300 ease-out">Créer</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div id="{{ game.id }}"
                     class="bg-lavender-blush-1 dark:bg-night-1 w-56 max-h-screen rounded-xl game opacity-0 translate-y-10 animate-fade-in">
                    <div class="m-3">
                        <img class="w-full h-52 object-cover rounded-xl"
                             src="/assets{{ game.pathImg }}" alt="not"
                             onclick="showModalGame(this)">
                    </div>
                    <p class="text-xl ml-5 mb-4x"><b>{{ game.name }}</b></p>
                    <div class="h-12 text-white justify-around flex">
                        <button class="w-20 h-10 bg-blue-violet-base hover:bg-night-1 dark:hover:bg-lavender-blush-base dark:hover:text-night-1 text-lavender-blush-base rounded-lg flex items-center justify-center relative transition-all duration-300 group hover:scale-110">
                        <span class="absolute opacity-100 scale-100 group-hover:opacity-0 group-hover:scale-75 transition-all duration-200 ease-out">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 20 20">
                            <path fill="currentColor"
                                  d="m17.545 15.467l-3.779-3.779a6.15 6.15 0 0 0 .898-3.21c0-3.417-2.961-6.377-6.378-6.377A6.185 6.185 0 0 0 2.1 8.287c0 3.416 2.961 6.377 6.377 6.377a6.15 6.15 0 0 0 3.115-.844l3.799 3.801a.953.953 0 0 0 1.346 0l.943-.943c.371-.371.236-.84-.135-1.211M4.004 8.287a4.28 4.28 0 0 1 4.282-4.283c-2.366 0 4.474 2.107 4.474 4.474a4.284 4.284 0 0 1-4.283 4.283c-2.366-.001-4.473-2.109-4.473-4.474"/>
                            </svg>
                        </span>
                            <span class="absolute opacity-0 scale-75 group-hover:opacity-100 group-hover:scale-100 transition-all duration-200 ease-out">
                            Trouver
                        </span>
                        </button>
                        <button class="w-20 h-10 bg-blue-violet-base hover:bg-night-1 dark:hover:bg-lavender-blush-base dark:hover:text-night-1 text-lavender-blush-base rounded-lg flex items-center justify-center relative transition-all duration-300 group hover:scale-110">
                            <span class="absolute opacity-100 scale-100 group-hover:opacity-0 group-hover:scale-75 transition-all duration-300 ease-out">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em"
                                     viewBox="0 0 24 24">
                                <g fill="none">
                                <path fill="currentColor"
                                      d="M10.5 20a1.5 1.5 0 0 0 3 0v-6.5H20a1.5 1.5 0 0 0 0-3h-6.5V4a1.5 1.5 0 0 0-3 0v6.5H4a1.5 1.5 0 0 0 0 3h6.5z"/>
                                </g>
                                </svg>
                            </span>
                            <span class="absolute opacity-0 scale-75 group-hover:opacity-100 group-hover:scale-100 transition-all duration-300 ease-out">Créer</span>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    <div class="absolute bottom-2 right-2 border-lavender-blush-base border-2 rounded-full p-2 hover:cursor-pointer hover:scale-105 ease-in-out transition-all"
         onclick="showModalSuggestion()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-width="1.5">
                <path stroke-linecap="round" d="M10 19.5h4M10.667 22h2.666"/>
                <path d="m7.41 13.68l1.105 1.04c.31.291.485.698.485 1.123C9 16.482 9.518 17 10.157 17h3.686c.639 0 1.157-.518 1.157-1.157c0-.425.176-.832.485-1.123l1.104-1.04c1.542-1.461 2.402-3.382 2.41-5.378L19 8.218C19 4.807 15.866 2 12 2S5 4.807 5 8.218v.084c.009 1.996.87 3.917 2.41 5.379Z"/>
            </g>
        </svg>
    </div>
    <div id="modalSuggestion"
         class="modal hidden w-full sm:w-1/2 bg-lavender-blush-2 dark:bg-night-2 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transition-all transform duration-300 p-5 rounded-2xl z-50">
        <div class="modal-content m-2">
            <div class="pb-2">
                <p class="text-2xl font-bold">Formulaire de suggestion</p>
            </div>
            <hr>
            <div class="pt-5 text-justify">
                <p>
                    Vous avez une idée d'amélioration pour Comus Party ? Envoyez-la à l'équipe de développement en
                    remplissant le formulaire ci-dessous !
                </p>
                <br>
                <form method="POST">
                    <div class="flex flex-col gap-2">
                        <label for="suggestion" class="font-semibold">Votre suggestion :</label>
                        <textarea id="suggestion" name="suggestion"
                                  class="w-full h-32 p-2 border dark:border-lavender-blush-base border-night-base rounded-lg shadow-sm focus:outline-none focus:ring focus:ring-blue-violet-base focus:border-blue-violet-base bg-lavender-blush-base dark:bg-night-3"
                                  minlength="10" maxlength="2048"></textarea>
                    </div>
                    <div class="flex justify-end mt-5 gap-4">
                        <button type="submit" class="btn-primary">Envoyer</button>
                        <div class="btn-secondary hover:cursor-pointer" onclick="closeModal()">Annuler</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/assets/js/home.js"></script>
    <script>
        function closeModal() {
            let modals = document.querySelectorAll(".modal")
            modals.forEach(modal => {
                if (!modal.classList.contains("hidden")) {
                    modal.classList.add("hidden");
                }
            });
            let background = document.getElementById('backgroundModal');
            background.classList.add("hidden");
        }

        function showBakgroundModal() {
            let background = document.getElementById('backgroundModal');
            background.classList.remove("hidden");
        }

        function showModalSuggestion() {
            let modal = document.getElementById('modalSuggestion');
            modal.classList.remove("hidden");
            showBakgroundModal();
        }

        function showModalGame(e) {
            let gameId = e.parentNode.parentNode.id;
            let modal = document.getElementById(`modalGame${gameId}`);
            modal.classList.remove("hidden");
            showBakgroundModal();
        }
    </script>
{% endblock %}