<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/builded.css">
    <title>Facture n°{{ invoice.id }}</title>
</head>
<body class="bg-gray-50 text-gray-800">
<div class="facture border border-gray-300 p-6 max-w-4xl mx-auto bg-white shadow-md rounded-lg">
    <div class="header text-center mb-6">
        <h1 class="text-2xl font-bold text-gray-900">Facture n°{{ invoice.id }}</h1>
    </div>
    <div class="flex justify-between items-center">
        <div>
            <div class="details mb-6 font-bold">
                <p class="underline">Facturé à :</p>
                <p class="text-sm font-medium"><strong>Client :</strong> {{ username }}</p>
                <p class="text-sm font-medium"><strong>Adresse e-mail :</strong> {{ email }}</p>
            </div>
            <div class="details mb-6 font-bold">
                <p class="underline">Dates :</p>
                <p class="text-sm font-medium"><strong>Date d'émission :</strong> {{ invoice.createdAt|date("d/m/Y") }}
                </p>
                <p class="text-sm font-medium"><strong>Date de paiement :</strong> {{ invoice.createdAt|date("d/m/Y") }}
                </p>
                <p class="text-sm font-medium"><strong>Date de livraison
                        :</strong> {{ invoice.createdAt|date("d/m/Y") }}</p>
            </div>
        </div>
        <div class="details mb-6 font-bold">
            <p class="underline">Facturé par :</p>
            <p class="text-sm font-medium"><strong>Comus Party</strong></p>
            <p class="text-sm font-medium"><strong>Adresse du siège social :</strong> IUT de Bayonne et du Pays
                Basque,<br>2 Allée du Parc Montaury, 64600 Anglet</p>
            <p class="text-sm font-medium"><strong>SIRET :</strong> XXXXXXXX</p>
            <p class="text-sm font-medium"><strong>RCS :</strong> XXXXXXXX</p>
            <p class="text-sm font-medium"><strong>TVA intra. :</strong> FRXXXXX</p>
        </div>
    </div>

    <div class="articles space-y-4">
        {% set total = 0 %}
        {% for article in articles %}
            {% set total = total + article.priceEuro %}
            <div class="flex items-center p-4 border border-gray-300 rounded-lg bg-gray-100 shadow-sm">
                <img src="{{ article.pathImg }}" alt="Image de {{ article.name }}"
                     class="w-16 h-16 rounded-md object-cover mr-4">
                <div class="flex-1">
                    <h2 class="text-lg font-semibold">{{ article.name }}</h2>
                    <p class="text-sm text-gray-600">Quantité : 1</p>
                    <p class="text-sm text-gray-600">Prix unitaire : {{ article.priceEuro }} €</p>
                </div>
                <p class="text-right text-gray-900 font-bold">{{ article.priceEuro }} €</p>
            </div>
        {% endfor %}
    </div>

    <p class="text-lg font-semibold mt-6">
        <strong>Total :</strong> {{ total }} €
        <br>
        <strong>Mode de paiement :</strong>
        {% if invoice.paymentType == enum('ComusParty\\Models\\PaymentType').Card %}
            Carte bancaire
        {% elseif invoice.paymentType == enum('ComusParty\\Models\\PaymentType').PayPal %}
            PayPal
        {% elseif invoice.paymentType == enum('ComusParty\\Models\\PaymentType').ComusCoins %}
            Comus Coins
        {% endif %}
    </p>
    <div class="footer text-center mt-6">
        <p class="text-sm text-gray-600">Merci pour votre achat ! | Comus Party</p>
    </div>
</div>
</body>
</html>
