{% extends "./layouts/default.twig" %}
{% block title %}Profil{% endblock %}

{% block content %}
    <!-- Partie concernant les informations de profil-->
    <div class="m-10 w-2/3">
        <h1 class="text-3xl text-nowrap font-serif">Mon profil</h1>
        <nav class="mt-4">
            <ul class="my-10 md:ml-20 flex justify-between gap-3 md:gap-10 text-nowrap flex-col md:flex-row">
                <li>
                    <button id="btnProfile" class="text-2xl hover:scale-105 transition-all ease-in-out active"
                            onclick="afficher('profile')">Mon apparence
                    </button>
                </li>
                <li>
                    <button id="btnSettings" class="text-2xl hover:scale-105 transition-all ease-in-out"
                            onclick="afficher('settings')">Paramètres de compte
                    </button>
                </li>
                <li>
                    <button id="btnStatistics" class="text-2xl hover:scale-105 transition-all ease-in-out"
                            onclick="afficher('statistics')">Mes statistiques
                    </button>
                </li>
            </ul>
        </nav>

        <div id="profile" class="grid grid-cols-2 sm:grid-cols-7 lg:grid-cols-12 md:ml-20">
            <!-- Avatar de profil -->
            <div class="col-span-2">
                <div class="flex justify-center">
                    <img id="pfpPlayer" class="rounded-full mb-4" width="150em" src="/assets/img/pfp/{{ pfp }}" alt="profile_picture">
                </div>
                <div>
                    <button class="flex gap-3 btn-primary items-center w-full justify-center" onclick="showModalPfp()">
                        Modifier
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M20.131 3.16a3 3 0 0 0-4.242 0l-.707.708l4.95 4.95l.706-.707a3 3 0 0 0 0-4.243l-.707-.707Zm-1.414 7.072l-4.95-4.95l-9.09 9.091a1.5 1.5 0 0 0-.401.724l-1.029 4.455a1 1 0 0 0 1.2 1.2l4.456-1.028a1.5 1.5 0 0 0 .723-.401z"/></g></svg>
                    </button>
                </div>
            </div>

            <div class="col-span-5 sm:ml-10 mt-5 sm:mt-0 flex flex-col justify-between">
                <div>
                    <img class="rounded-2xl mb-4" src="/assets/img/banner/{{ banner }}" alt="banner">
                </div>
                <div>
                    <button class="flex gap-3 btn-primary items-center w-full justify-center" >
                        Modifier
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M20.131 3.16a3 3 0 0 0-4.242 0l-.707.708l4.95 4.95l.706-.707a3 3 0 0 0 0-4.243l-.707-.707Zm-1.414 7.072l-4.95-4.95l-9.09 9.091a1.5 1.5 0 0 0-.401.724l-1.029 4.455a1 1 0 0 0 1.2 1.2l4.456-1.028a1.5 1.5 0 0 0 .723-.401z"/></g></svg>
                    </button>
                </div>
            </div>

                <div id="modalPfp" class="modal z-50 flex flex-row absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rounded-3xl  shadow-lg sm:w-2/3 sm:h-2/3 w-11/12 overflow-hidden hidden ">
                    <!-- Section gauche : Liste des photos de profil -->
                    <div class="sm:w-2/3 w-7/12 dark:bg-night-2 p-4 overflow-y-auto">
                        <!-- Liste des photos -->
                        <div class="flex">
                            <div   class=" w-20 h-20 m-1 pfp cursor-pointer" onclick="infoArticlePfp({ id : '0', name : 'Photo de profil par défaut', description : 'La photo de Caca', filePath : 'default-pfp.jpg'})">
                                <img id="defaultPfp" src="assets/img/pfp/default-pfp.jpg" alt="Pas d'image" class="pfp rounded-3xl w-20 h-20" onclick="activeShadowOnPfp(this)">
                            </div>
                            {% if pfpsOwned %}
                                <!-- Exemple de photo -->
                                {% for pfp in pfpsOwned %}
                                    <div  class=" w-20 h-20 m-1 cursor-pointer" onclick="infoArticlePfp({ id : '{{ pfp.id }}', name : '{{ pfp.name }}', description : '{{ pfp.description }}', filePath : '{{ pfp.filePath }}'})">
                                        <img id="{{ pfp.id }}" src="assets/img/pfp/{{ pfp.filePath }}" alt="Pas d'image" class="pfp rounded-3xl w-20 h-20" onclick="activeShadowOnPfp(this)">
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Section droite : Description -->
                    <div class="sm:w-1/3 w-5/12 p-6 flex flex-col justify-center items-center relative dark:bg-night-3">
                        <button class="absolute right-1 top-1 text-lavender-blush-base  transition duration-200"
                                onclick="closeModal()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M16.066 8.995a.75.75 0 1 0-1.06-1.061L12 10.939L8.995 7.934a.75.75 0 1 0-1.06 1.06L10.938 12l-3.005 3.005a.75.75 0 0 0 1.06 1.06L12 13.06l3.005 3.006a.75.75 0 0 0 1.06-1.06L13.062 12z"/></svg>
                        </button>
                        <h2 id="pfpTitle" class="text-2xl font-semibold mb-4">Titre de la photo</h2>
                        <p id="pfpDescription" class="text-gray-600 text-lg text-lavender-blush-base text-center mb-4">
                            Passez la souris sur une photo pour voir la description.
                        </p>
                        <button
                                id="equipButton"
                                class="px-4 py-2 dark:bg-night-2 text-lavender-blush-base rounded shadow hover:bg-night-1 transition duration-200"
                                onclick="equipArticlePfp()">
                            Équiper
                        </button>
                    </div>
                </div>
        </div>

        <div id="settings" class="hidden grid grid-cols-2 sm:grid-cols-7 lg:grid-cols-12 md:ml-20">
            <div class="col-span-4 ml-10">
                <div>
                    <p class="text-xl font-semibold">Pseudonyme :</p>
                    <div class="flex justify-between items-center gap-1">
                        <p class="text-xl">{{ player.username }}</p>
                        <!-- Bouton de modification -->
                        <button class="flex gap-3 btn-primary items-center justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M20.131 3.16a3 3 0 0 0-4.242 0l-.707.708l4.95 4.95l.706-.707a3 3 0 0 0 0-4.243l-.707-.707Zm-1.414 7.072l-4.95-4.95l-9.09 9.091a1.5 1.5 0 0 0-.401.724l-1.029 4.455a1 1 0 0 0 1.2 1.2l4.456-1.028a1.5 1.5 0 0 0 .723-.401z"/></g></svg>
                        </button>
                    </div>
                </div>
                <div>
                    <p class="text-xl text-nowrap mt-7 font-semibold">Adresse e-mail :</p>
                    <div>
                        <div class="flex justify-between items-center gap-1">
                            <p class="text-xl">{{ user.email }}</p>
                            <button class="flex gap-3 btn-primary items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M20.131 3.16a3 3 0 0 0-4.242 0l-.707.708l4.95 4.95l.706-.707a3 3 0 0 0 0-4.243l-.707-.707Zm-1.414 7.072l-4.95-4.95l-9.09 9.091a1.5 1.5 0 0 0-.401.724l-1.029 4.455a1 1 0 0 0 1.2 1.2l4.456-1.028a1.5 1.5 0 0 0 .723-.401z"/></g></svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-7 ml-10 mt-10 lg:mt-0">
                <form method="POST">
                    <div class="g-1 flex flex-col justify-between">
                        <label>
                            <input class="mb-2 w-full text-black input" type="password" minlength="8" maxlength="64"
                                   placeholder="Insérez votre nouveau mot de passe" name="newPswd">
                        </label>

                        <!-- Confirmation de modification -->
                        <label>
                            <input class="mb-4 p-2 w-full input" type="password" minlength="8" maxlength="64"
                                   placeholder="Confirmez votre nouveau mot de passe" name="newPswdConf">
                        </label>

                        <!-- Bouton de confirmation -->
                        <div class="flex items-center justify-center gap-1 btn-success cursor-pointer">
                            <input type="submit" value="Confirmer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.25em" height="1em" viewBox="0 0 1600 1280"><path fill="currentColor" d="M1575 310q0 40-28 68l-724 724l-136 136q-28 28-68 28t-68-28l-136-136L53 740q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295l656-657q28-28 68-28t68 28l136 136q28 28 28 68"/></svg>
                        </div>

                    </div>
                </form>
            </div>
            <div onclick="showModalSuppression()"
                 class="cursor-pointer col-span-4 mt-10 btn-danger flex items-center justify-center gap-1 ml-10 sm:grid-cols-7">
                <span class="font-semibold">Supprimer mon compte</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="1.25em" height="1.25 em" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"
                          d="M9.17 4a3.001 3.001 0 0 1 5.66 0m5.67 2h-17m15.333 2.5l-.46 6.9c-.177 2.654-.265 3.981-1.13 4.79s-2.196.81-4.856.81h-.774c-2.66 0-3.991 0-4.856-.81c-.865-.809-.954-2.136-1.13-4.79l-.46-6.9M9.5 11l.5 5m4.5-5l-.5 5"/>
                </svg>
            </div>
        </div>

        <div id="statistics" class="hidden">
            <div class="grid gap-y-5 gap-x-10 grid-cols-1 sm:grid-cols-2">
                <div class="dark:bg-night-2 bg-lavender-blush-1 rounded-2xl px-3 p-2 flex items-center gap-2">
                    <svg class="text-white" xmlns="http://www.w3.org/2000/svg" width="1.25em" height="1em" viewBox="0 0 640 512"><path fill="currentColor" d="M274.9 34.3c-28.1-28.1-73.7-28.1-101.8 0L34.3 173.1c-28.1 28.1-28.1 73.7 0 101.8l138.8 138.8c28.1 28.1 73.7 28.1 101.8 0l138.8-138.8c28.1-28.1 28.1-73.7 0-101.8zM200 224a24 24 0 1 1 48 0a24 24 0 1 1-48 0M96 200a24 24 0 1 1 0 48a24 24 0 1 1 0-48m128 176a24 24 0 1 1 0-48a24 24 0 1 1 0 48m128-176a24 24 0 1 1 0 48a24 24 0 1 1 0-48m-128-80a24 24 0 1 1 0-48a24 24 0 1 1 0 48m96 328c0 35.3 28.7 64 64 64h192c35.3 0 64-28.7 64-64V256c0-35.3-28.7-64-64-64H461.7c11.6 36 3.1 77-25.4 105.5L320 413.8zm160-120a24 24 0 1 1 0 48a24 24 0 1 1 0-48"/></svg>
                    <p>Parties jouées : <b>{{ player.statistics.gamesPlayed }}</b></p>
                </div>
                <div class="dark:bg-night-2 bg-lavender-blush-1 rounded-2xl px-3 p-2 flex items-center gap-2">
                    <svg class="text-maize-700 scale-150" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M7 21v-2h4v-3.1q-1.225-.275-2.187-1.037T7.4 12.95q-1.875-.225-3.137-1.637T3 8V7q0-.825.588-1.412T5 5h2V3h10v2h2q.825 0 1.413.588T21 7v1q0 1.9-1.263 3.313T16.6 12.95q-.45 1.15-1.412 1.913T13 15.9V19h4v2zm0-10.2V7H5v1q0 .95.55 1.713T7 10.8m10 0q.9-.325 1.45-1.088T19 8V7h-2z"/></svg>
                    <p>Parties gagnées : <b>{{ player.statistics.gamesWon }}</b></p>
                </div>
                <div class="dark:bg-night-2 bg-lavender-blush-1 rounded-2xl px-3 p-2 flex items-center gap-2">
                    <svg class="text-red-500" xmlns="http://www.w3.org/2000/svg" width="1.25em" height="1em" viewBox="0 0 640 512"><path fill="currentColor" d="M480 0c-17.7 0-32 14.3-32 32v480h64V192h112c8.8 0 16-7.2 16-16V48c0-8.8-7.2-16-16-16H512c0-17.7-14.3-32-32-32m-64 159L276.8 39.7c-12-10.3-29.7-10.3-41.7 0l-224 192C1 240.4-2.7 254.5 2 267.1S18.6 288 32 288h32v192c0 17.7 14.3 32 32 32h64c17.7 0 32-14.3 32-32v-96c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32v96c0 17.7 14.3 32 32 32h64.9h-1V159z"/></svg>
                    <p>Parties hébergées : <b>{{ player.statistics.gamesHosted }}</b></p>
                </div>
                <div class="dark:bg-night-2 bg-lavender-blush-1 rounded-2xl px-3 p-2 flex items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M16 14a5 5 0 0 1 5 5v1a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-1a5 5 0 0 1 5-5zm4-6a1 1 0 0 1 1 1v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0v-1h-1a1 1 0 1 1 0-2h1V9a1 1 0 0 1 1-1m-8-6a5 5 0 1 1 0 10a5 5 0 0 1 0-10"/></g></svg>
                    <p>Date d'inscription : <b>{{ player.createdAt|date('d/m/Y') }}</b></p>
                </div>
                <div class="dark:bg-night-2 bg-lavender-blush-1 rounded-2xl px-3 p-2 flex items-center gap-2">
                    <svg class="text-green-300" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="m12 7.09l2.45 1.49l-.65-2.81L16 3.89l-2.89-.25L12 1l-1.13 2.64L8 3.89l2.18 1.88l-.68 2.81zm-8 6l2.45 1.49l-.65-2.81L8 9.89l-2.89-.25L4 7L2.87 9.64L0 9.89l2.18 1.88l-.68 2.81zm16-3l2.45 1.49l-.65-2.81L24 6.89l-2.89-.25L20 4l-1.13 2.64l-2.87.25l2.18 1.88l-.68 2.81zM15 23H9V10h6zm-8 0H1v-6h6zm16 0h-6V13h6z"/></svg>
                    <p>Elo : <b>{{ player.elo }}</b></p>
                </div>
                <div class="dark:bg-night-2 bg-lavender-blush-1 rounded-2xl px-3 p-2 flex items-center gap-2">
                    <svg class="text-purple-400" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 48 48"><defs><mask id="ipSLevel0"><g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"><path fill="#fff" stroke="#fff" d="M24 42L4 18.5L9.695 6h28.61L44 18.5z"/><path stroke="#000" d="m32 18l-8 9l-8-9"/></g></mask></defs><path fill="currentColor" d="M0 0h48v48H0z" mask="url(#ipSLevel0)"/></svg>
                    <p>Points d'expériences : <b>{{ player.xp }}</b></p>
                </div>
            </div>
        </div>

    </div>



    <div onclick="closeModal()" id="backgroundModal" class="hidden fixed inset-0 bg-night-1 opacity-85 z-10"></div>
    <div id="modalConfirmationSuppression"
         class="hidden w-full sm:w-1/2 bg-night-2 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transition-all transform duration-300 p-5 rounded-2xl">
        <div class="modal-content m-2">
            <div class="pb-2">
                <p class="text-2xl font-bold">Demande de suppression de compte</p>
            </div>
            <hr>
            <div class="pt-5 text-justify">
                <p>
                    En accord avec nos <a href="/cgu" class="underline font-semibold">conditions d'utilisation</a> votre
                    compte ne peut pas être supprimé
                    immédiatement, mais il sera désactivé pour une période de 30 jours.
                    Pendant cette période, vous ne serez plus visible dans le jeu, et votre compte sera inactif.
                </p>
                <br>
                <p>
                    Si vous souhaitez récupérer votre compte, merci de contacter l'équipe de Comus Party à l'adresse
                    e-mail <a href="mailto:account@comus-party.com" class="underline font-semibold">account@comus-party.com</a>.
                    Passé ce délai, votre compte sera définitivement supprimé, ainsi que toutes vos données associées.
                </p>
                <br>
                <p class="font-semibold">Êtes-vous sûr de vouloir continuer ?</p>
            </div>
            <div class="flex gap-2 justify-end mt-3">
                <button class="btn-secondary" onclick="closeModal()">Tout compte fait, j'abandonne</button>
                <a class="btn-danger font-semibold" href="/disable-account/{{ player.uuid }}">Oui, je veux désactiver
                    mon compte</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="/assets/js/profil.js"></script>
{% endblock %}
