{% extends './layouts/default.twig' %}

{% block title %}
    Classement
{% endblock %}

{% block content %}
    <div onclick="closeModal()" id="backgroundModal" class="hidden fixed inset-0 bg-night-1 opacity-85 z-40"></div>

    <div class="scrollbar-thumb-night-base scrollbar-track-night-base h-full w-full">
        <div class="flex flex-col justify-between mb-10">
            <h1 class="text-4xl ml-5 mt-5 font-serif mb-10">Classement général</h1>
            <div class="rounded-2xl overflow-hidden">
                <div class="max-h-[calc(100vh-200px)] overflow-y-auto relative">
                    <table class="w-full table-auto bg-lavender-blush-1 dark:bg-night-1 rounded-lg shadow-md">
                        <thead class="sticky top-0 z-10 shadow-lg">
                        <tr class="bg-lavender-blush-2 dark:bg-night-2">
                            <th class="p-4 text-center md:text-xl hidden lg:table-cell w-1/12">Avatar</th>
                            <th class="p-4 text-center md:text-xl w-3/12">Nom d'utilisateur</th>
                            <th class="p-4 md:text-xl w-2/12">
                                <div class="flex justify-center items-center gap-2">
                                    <svg class="text-green-700 dark:text-green-300" xmlns="http://www.w3.org/2000/svg"
                                         width="1em" height="1em"
                                         viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                              d="m12 7.09l2.45 1.49l-.65-2.81L16 3.89l-2.89-.25L12 1l-1.13 2.64L8 3.89l2.18 1.88l-.68 2.81zm-8 6l2.45 1.49l-.65-2.81L8 9.89l-2.89-.25L4 7L2.87 9.64L0 9.89l2.18 1.88l-.68 2.81zm16-3l2.45 1.49l-.65-2.81L24 6.89l-2.89-.25L20 4l-1.13 2.64l-2.87.25l2.18 1.88l-.68 2.81zM15 23H9V10h6zm-8 0H1v-6h6zm16 0h-6V13h6z"/>
                                    </svg>
                                    <p>Elo</p>
                                </div>
                            </th>
                            <th class="p-4 text-center md:text-xl hidden lg:table-cell w-2/12">
                                <div class="flex justify-center items-center gap-2">
                                    <svg class="text-purple-400" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                         viewBox="0 0 48 48">
                                        <defs>
                                            <mask id="ipSLevel0">
                                                <g fill="none" stroke-linecap="round" stroke-linejoin="round"
                                                   stroke-width="4">
                                                    <path fill="#fff" stroke="#fff"
                                                          d="M24 42L4 18.5L9.695 6h28.61L44 18.5z"/>
                                                    <path stroke="#000" d="m32 18l-8 9l-8-9"/>
                                                </g>
                                            </mask>
                                        </defs>
                                        <path fill="currentColor" d="M0 0h48v48H0z" mask="url(#ipSLevel0)"/>
                                    </svg>
                                    <p>Point d'exp.</p>
                                </div>
                            </th>
                            <th class="p-4 text-center md:text-xl w-2/12">
                                <div class="flex justify-center items-center gap-2">
                                    <svg class="text-maize-700 scale-150" xmlns="http://www.w3.org/2000/svg" width="1em"
                                         height="1em"
                                         viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                              d="M7 21v-2h4v-3.1q-1.225-.275-2.187-1.037T7.4 12.95q-1.875-.225-3.137-1.637T3 8V7q0-.825.588-1.412T5 5h2V3h10v2h2q.825 0 1.413.588T21 7v1q0 1.9-1.263 3.313T16.6 12.95q-.45 1.15-1.412 1.913T13 15.9V19h4v2zm0-10.2V7H5v1q0 .95.55 1.713T7 10.8m10 0q.9-.325 1.45-1.088T19 8V7h-2z"/>
                                    </svg>
                                    <p>Partie gagnées</p>
                                </div>
                            </th>
                            <th class="p-4 text-center md:text-xl hidden md:table-cell w-2/12">
                                <div class="flex justify-center items-center gap-2">
                                    <svg class="text-white" xmlns="http://www.w3.org/2000/svg" width="1.25em" height="1em"
                                         viewBox="0 0 640 512">
                                        <path fill="currentColor"
                                              d="M274.9 34.3c-28.1-28.1-73.7-28.1-101.8 0L34.3 173.1c-28.1 28.1-28.1 73.7 0 101.8l138.8 138.8c28.1 28.1 73.7 28.1 101.8 0l138.8-138.8c28.1-28.1 28.1-73.7 0-101.8zM200 224a24 24 0 1 1 48 0a24 24 0 1 1-48 0M96 200a24 24 0 1 1 0 48a24 24 0 1 1 0-48m128 176a24 24 0 1 1 0-48a24 24 0 1 1 0 48m128-176a24 24 0 1 1 0 48a24 24 0 1 1 0-48m-128-80a24 24 0 1 1 0-48a24 24 0 1 1 0 48m96 328c0 35.3 28.7 64 64 64h192c35.3 0 64-28.7 64-64V256c0-35.3-28.7-64-64-64H461.7c11.6 36 3.1 77-25.4 105.5L320 413.8zm160-120a24 24 0 1 1 0 48a24 24 0 1 1 0-48"/>
                                    </svg>
                                    <p>Parties jouées</p>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for player in players %}
                            <tr class="odd:bg-lavender-blush-1 even:bg-lavender-blush-2 dark:odd:bg-night-1 dark:even:bg-night-2">
                                <td class="p-4 hidden lg:flex flex-row justify-center">
                                    <img src="/assets/img/pfp/{{ player.activePfp }}" alt="pfp" class="rounded-full size-8 hover:scale-110 transition-all ease-in-out hover:cursor-pointer" onclick="showModalPlayerInfo('{{ player.uuid }}')">
                                </td>
                                <td class="p-4 font-semibold hover:scale-110 transition-all ease-in-out duration-300 text-center hover:cursor-pointer"
                                    onclick="showModalPlayerInfo('{{ player.uuid }}')">
                                    {% if loop.index == 1 %}
                                        🥇
                                    {% elseif loop.index == 2 %}
                                        🥈
                                    {% elseif loop.index == 3 %}
                                        🥉
                                    {% endif %}
                                    {{ player.username }}
                                </td>
                                <td class="p-4 text-center font-semibold">{{ player.elo }}</td>
                                <td class="p-4 text-center font-semibold hidden lg:table-cell">{{ player.xp }}</td>
                                <td class="p-4 text-center font-semibold">{{ player.statistics.gamesWon }}</td>
                                <td class="p-4 text-center font-semibold hidden md:table-cell">{{ player.statistics.gamesPlayed }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="modalPlayerInfo"
         class="modal hidden w-full sm:w-1/2 bg-lavender-blush-2 dark:bg-night-2 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transition-all transform duration-300 p-5 rounded-2xl z-50">
        <div class="modal-content m-2">
            <div class="flex justify-between">
                <div class="pb-2">
                    <p class="text-2xl font-bold">Profil de <span id="spanTopUsername"></span></p>
                </div>
                <div>
                    <button onclick="closeModal()">
                        <svg class="hover:scale-125 hover:text-red-500 transition-all ease-in-out"
                             xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <g fill="none" stroke="currentColor" stroke-width="1.5">
                                <path stroke-linecap="round" d="M6 18l12-12M6 6l12 12"/>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <hr>
            <div class="pt-5 text-justify">
                <div class="flex flex-col lg:flex-row gap-5 items-center">
                    <img id="imgPfp" src="" alt="" class=" lg:w-1/3 rounded-full p-6 h-auto w-auto max-w-64">
                    <div class="flex flex-col w-full lg:w-2/3 gap-5">
                        <p class="text-lg md:text-xl"><span class="font-semibold underline">Nom d'utilisateur :</span> <span id="spanUsername"></span></p>
                        <div class="flex flex-col">
                            <p class="text-lg font-semibold underline">Statistiques :</p>
                            <div class="flex-col md:flex-row flex w-full flex-wrap gap-y-1 mt-2">
                                <div class="w-full md:w-1/2 flex items-center gap-1">
                                    <svg class="text-green-700 dark:text-green-300" xmlns="http://www.w3.org/2000/svg"
                                         width="1em" height="1em"
                                         viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                              d="m12 7.09l2.45 1.49l-.65-2.81L16 3.89l-2.89-.25L12 1l-1.13 2.64L8 3.89l2.18 1.88l-.68 2.81zm-8 6l2.45 1.49l-.65-2.81L8 9.89l-2.89-.25L4 7L2.87 9.64L0 9.89l2.18 1.88l-.68 2.81zm16-3l2.45 1.49l-.65-2.81L24 6.89l-2.89-.25L20 4l-1.13 2.64l-2.87.25l2.18 1.88l-.68 2.81zM15 23H9V10h6zm-8 0H1v-6h6zm16 0h-6V13h6z"/>
                                    </svg>
                                    <p>Elo : <span id="spanElo"></span></p>
                                </div>
                                <div class="w-full md:w-1/2 flex items-center gap-1">
                                    <svg class="text-purple-400" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                         viewBox="0 0 48 48">
                                        <defs>
                                            <mask id="ipSLevel0">
                                                <g fill="none" stroke-linecap="round" stroke-linejoin="round"
                                                   stroke-width="4">
                                                    <path fill="#fff" stroke="#fff"
                                                          d="M24 42L4 18.5L9.695 6h28.61L44 18.5z"/>
                                                    <path stroke="#000" d="m32 18l-8 9l-8-9"/>
                                                </g>
                                            </mask>
                                        </defs>
                                        <path fill="currentColor" d="M0 0h48v48H0z" mask="url(#ipSLevel0)"/>
                                    </svg>
                                    <p>Points d'exp. : <span id="spanExp"></span></p>
                                </div>
                                <div class="w-full md:w-1/2 flex items-center gap-1">
                                    <svg class="text-white" xmlns="http://www.w3.org/2000/svg" width="1.25em" height="1em"
                                         viewBox="0 0 640 512">
                                        <path fill="currentColor"
                                              d="M274.9 34.3c-28.1-28.1-73.7-28.1-101.8 0L34.3 173.1c-28.1 28.1-28.1 73.7 0 101.8l138.8 138.8c28.1 28.1 73.7 28.1 101.8 0l138.8-138.8c28.1-28.1 28.1-73.7 0-101.8zM200 224a24 24 0 1 1 48 0a24 24 0 1 1-48 0M96 200a24 24 0 1 1 0 48a24 24 0 1 1 0-48m128 176a24 24 0 1 1 0-48a24 24 0 1 1 0 48m128-176a24 24 0 1 1 0 48a24 24 0 1 1 0-48m-128-80a24 24 0 1 1 0-48a24 24 0 1 1 0 48m96 328c0 35.3 28.7 64 64 64h192c35.3 0 64-28.7 64-64V256c0-35.3-28.7-64-64-64H461.7c11.6 36 3.1 77-25.4 105.5L320 413.8zm160-120a24 24 0 1 1 0 48a24 24 0 1 1 0-48"/>
                                    </svg>
                                    <p>Parties jouées : <span id="spanGamesPlayed"></span></p>
                                </div>
                                <div class="w-full md:w-1/2 flex items-center gap-2">
                                    <svg class="text-maize-700 scale-150" xmlns="http://www.w3.org/2000/svg" width="1em"
                                         height="1em"
                                         viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                              d="M7 21v-2h4v-3.1q-1.225-.275-2.187-1.037T7.4 12.95q-1.875-.225-3.137-1.637T3 8V7q0-.825.588-1.412T5 5h2V3h10v2h2q.825 0 1.413.588T21 7v1q0 1.9-1.263 3.313T16.6 12.95q-.45 1.15-1.412 1.913T13 15.9V19h4v2zm0-10.2V7H5v1q0 .95.55 1.713T7 10.8m10 0q.9-.325 1.45-1.088T19 8V7h-2z"/>
                                    </svg>
                                    <p>Parties gagnées : <span id="spanGamesWon"></span></p>
                                </div>
                            </div>
                        </div>
                        <p><span class="font-semibold underline">A rejoint Comus Party le :</span> <span id="spanCreatedAt"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="/assets/js/ranking.js"></script>
{% endblock %}