{% extends "/layouts/base.twig" %}

{% block layout %}
    <div class="h-full flex flex-col">
        <header class="flex w-full items-center">
            <nav class="flex items-center justify-between w-full h-16 px-8">
                <a href="/">Comus Party</a>
                <div class="flex items-center gap-5">
                    {% if auth.role == 'player' %}
                        <div class="hidden sm:flex items-center gap-2 border-r-2 border-lavender-blush-base">
                            <div class="flex bg-lavender-blush-1 dark:bg-night-2 rounded-2xl px-2 gap-1 p-0.5 items-center">
                                <svg class="text-green-700 dark:text-green-300" xmlns="http://www.w3.org/2000/svg"
                                     width="1em" height="1em"
                                     viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                          d="m12 7.09l2.45 1.49l-.65-2.81L16 3.89l-2.89-.25L12 1l-1.13 2.64L8 3.89l2.18 1.88l-.68 2.81zm-8 6l2.45 1.49l-.65-2.81L8 9.89l-2.89-.25L4 7L2.87 9.64L0 9.89l2.18 1.88l-.68 2.81zm16-3l2.45 1.49l-.65-2.81L24 6.89l-2.89-.25L20 4l-1.13 2.64l-2.87.25l2.18 1.88l-.68 2.81zM15 23H9V10h6zm-8 0H1v-6h6zm16 0h-6V13h6z"/>
                                </svg>
                                <p class="text-night-2 dark:text-lavender-blush-base font-semibold">{{ auth.loggedElo }}</p>
                            </div>
                            <div class="flex bg-lavender-blush-1 dark:bg-night-2 rounded-2xl px-2 gap-1 p-0.5 items-center">
                                <svg class="text-purple-400" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                     viewBox="0 0 48 48">
                                    <defs>
                                        <mask id="ipSLevel0">
                                            <g fill="none" stroke-linecap="round" stroke-linejoin="round"
                                               stroke-width="4">
                                                <path fill="#fff" stroke="#fff"
                                                      d="M24 42L4 18.5L9.695 6h28.61L44 18.5z"/>
                                                <path stroke="#000" d="m32 18l-8 9l-8-9"/>
                                            </g>
                                        </mask>
                                    </defs>
                                    <path fill="currentColor" d="M0 0h48v48H0z" mask="url(#ipSLevel0)"/>
                                </svg>
                                <p class="text-night-2 dark:text-lavender-blush-base font-semibold">{{ auth.loggedXp }}</p>
                            </div>
                            <div class="bg-lavender-blush-1 dark:bg-night-2 rounded-2xl pr-2 flex gap-1 p-0.5 items-center mr-4">
                                <svg class="text-maize-800 dark:text-maize-700" xmlns="http://www.w3.org/2000/svg"
                                     width="1.5em" height="1.5em"
                                     viewBox="0 0 24 24">
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                       stroke-width="2">
                                        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0-18 0"/>
                                        <path d="M14.8 9A2 2 0 0 0 13 8h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1-1.8-1M12 7v10"/>
                                    </g>
                                </svg>
                                <p class="text-night-2 dark:text-lavender-blush-base font-semibold">{{ auth.loggedComusCoin }}</p>
                            </div>
                        </div>
                        <a href="/profile"
                           class="flex items-center gap-2 hover:scale-105 ease-in-out transition-all group">
                            <img id="pfpPlayerInHeader" src="/assets/img/pfp/{{ auth.pfpPath }}" alt="pfp" class="rounded-full size-8">
                            <p class="font-semibold text-lavender-blush-base group-hover:border-b-2">{{ auth.loggedUsername }}</p>
                        </a>

                        <a href="/shop">
                            <svg class="hover:scale-110 ease-in-out transition-all hover:text-lavender-blush-base text-lavender-blush-base opacity-70 hover:opacity-100"
                                 xmlns="http://www.w3.org/2000/svg"
                                 width="1.5em" height="1.5em" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                      d="M3.778 3.655c-.181.36-.27.806-.448 1.696l-.598 2.99a3.06 3.06 0 1 0 6.043.904l.07-.69a3.167 3.167 0 1 0 6.307-.038l.073.728a3.06 3.06 0 1 0 6.043-.904l-.598-2.99c-.178-.89-.267-1.335-.448-1.696a3 3 0 0 0-1.888-1.548C17.944 2 17.49 2 16.582 2H7.418c-.908 0-1.362 0-1.752.107a3 3 0 0 0-1.888 1.548M18.269 13.5a4.53 4.53 0 0 0 2.231-.581V14c0 3.771 0 5.657-1.172 6.828c-.943.944-2.348 1.127-4.828 1.163V18.5c0-.935 0-1.402-.201-1.75a1.5 1.5 0 0 0-.549-.549C13.402 16 12.935 16 12 16s-1.402 0-1.75.201a1.5 1.5 0 0 0-.549.549c-.201.348-.201.815-.201 1.75v3.491c-2.48-.036-3.885-.22-4.828-1.163C3.5 19.657 3.5 17.771 3.5 14v-1.081a4.53 4.53 0 0 0 2.232.581a4.55 4.55 0 0 0 3.112-1.228A4.64 4.64 0 0 0 12 13.5a4.64 4.64 0 0 0 3.156-1.228a4.55 4.55 0 0 0 3.112 1.228"/>
                            </svg>
                        </a>
                    {% endif %}
                    {% if auth.role == 'moderator' %}
                        <div class="flex items-center gap-2">
                            <img src="/assets/img/pfp/default-pfp.jpg" alt="pfp" class="rounded-full size-8">
                            <p class="font-semibold text-lavender-blush-base">{{ auth.firstName }} {{ auth.lastName }}</p>
                        </div>
                    {% endif %}
                    <a href="/logout">
                        <svg class="hover:scale-110 hover:text-lavender-blush-base text-lavender-blush-base ease-in-out transition-all opacity-70 hover:opacity-100"
                             xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                  d="m17 8l-1.41 1.41L17.17 11H9v2h8.17l-1.58 1.58L17 16l4-4zM5 5h7V3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h7v-2H5z"/>
                        </svg>
                    </a>
                </div>
            </nav>
        </header>
        <div class="flex flex-col sm:flex-row flex-grow h-full">
            {% if auth.role == 'player' %}
                <div class="flex items-center sm:content-center justify-center sm:h-full w-full sm:w-16 p-2">
                </div>
            {% endif %}
            <main class="overflow-y-auto bg-lavender-blush-base dark:bg-night-base flex flex-grow sm:rounded-tl-2xl opacity-90 p-4 sm:p-8">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

{% endblock %}